@import compass/reset
@import compass

@import mixins

$body-bg: #f2f1ea

html
  margin: 20px

body
  margin: 0 auto
  line-height: 30px
  padding: 15px
  width: 780px
  background: $alt-color url("/images/main-bg2.png") center no-repeat fixed
  @include sans-serif(normal,$basefont,$baseline)


header, footer, section, article
  display: block

a
  color: $accent
  text-decoration: none
  &:hover
    text-decoration: underline

h1, h2, h3, h4
  display: block
  margin: 0

h2
  color: $accent
  font:
    size: 2em
  margin:
    top: 5px
    bottom: 15px

h4
  font:
    size: 1.2em

code
  font:
    size: 12pt
    family: 'Anonymous Pro', 'Bitstream Vera Sans', 'Monaco', Courier, mono

pre
  padding: 20px
  background: #0d0e11
  color: white

address
  display: block
  line-height: 18px
  margin: 10px 0
  font:
    size: 13px
  color: #444

blockquote
  font-style: italic


body > footer
  text-align: left
  padding: 2px 0
  font:
    style: italic
    size: 15px
  color: #000
  background-color: none

.email-link
  unicode-bidi: bidi-override
  direction: rtl

@import partials/header
@import partials/nav

@import partials/content
@import partials/articles
@import partials/suppliers


