%h2
  Welcome to our wed site!

%p
  I'm not actually sure what's supposed to go here but I guess details on our preps + announcements(to be echoed in other social networks + texting for good measure)

%p
  Also, I plan to experiment on ruby-slippers templating while I'm at it, so hitting(aww no killing here) two birds with one stone.

%p
  Anyway, enough chit-chat and more helpful stuff!
