.suppliers
  %h2
    Suppliers

  %ul
    %li
      %p.supplier-logo
        %img{:src => "/images/pages/suppliers/nosaj-logo.jpg"}
      Balay Indang
    %li
      %p.supplier-logo
        %img{:src => "/images/pages/suppliers/nosaj-logo.jpg"}
      Our Lady of Lourdes Church
    %li
      %p.supplier-logo
        %img{:src => "/images/pages/suppliers/nosaj-logo.jpg"}
      Jason Angcao
    %li
      %p.supplier-logo
        %img{:src => "/images/pages/suppliers/nosaj-logo.jpg"}
      Digital Shots (Arvin and Maru)
