.suppliers
  %h2
    Suppliers

  %ul
    %li.supplier
      %p
        %a.logo{:href => "http://jasonangcao.com"}
          %img{:src => "/images/pages/suppliers/nosaj-logo.jpg"}
      .details
        %p.name Balay Indang
        %p.address Blah blahBlah blahBlah blahBlah blahBlah blahBlah blahBlah blahBlah blahBlah blahBlah blahBlah blahBlah blahBlah blahBlah blahBlah blahBlah blahBlah blahBlah blahBlah blahBlah blahBlah blahBlah blahBlah blahBlah blahBlah blahBlah blahBlah blahBlah blahBlah blahBlah blahBlah blahBlah blahBlah blahBlah blahBlah blahBlah blahBlah blahBlah blahBlah blahBlah blahBlah blahBlah blahBlah blahBlah blahBlah blahBlah blahBlah blahBlah blahBlah blahBlah blahBlah blahBlah blahBlah blahBlah blahBlah blahBlah blahBlah blahBlah blahBlah blahBlah blahBlah blahBlah blahBlah blahBlah blahBlah blahBlah blahBlah blahBlah blahBlah blahBlah blahBlah blahBlah blahBlah blahBlah blahBlah blahBlah blahBlah blahBlah blahBlah blahBlah blahBlah blahBlah blahBlah blahBlah blahBlah blahBlah blahBlah blahBlah blahBlah blahBlah blahBlah blahBlah blahBlah blahBlah blahBlah blahBlah blahBlah blahBlah blahBlah blahBlah blahBlah blah
    %li.supplier
      %p
        %a.logo{:href => "http://jasonangcao.com"}
          %img{:src => "/images/pages/suppliers/nosaj-logo.jpg"}
      .details
        %p.name Our Lady of Lourdes Church
        %p.address Blah blah
    %li.supplier
      %p
        %a.logo{:href => "http://jasonangcao.com"}
          %img{:src => "/images/pages/suppliers/nosaj-logo.jpg"}
      .details
        %p.name Jason Angcao
        %p.address Blah blah
    %li.supplier
      %p
        %a.logo{:href => "http://jasonangcao.com"}
          %img{:src => "/images/pages/suppliers/nosaj-logo.jpg"}
      .details
        %p.name Digital Shots (Arvin and Maru)
        %p.address Blah blah
