header
  h1
    font:
      size: 2.5em
      weight: normal
    letter-spacing: 1px
    margin: 20px 0 8px 0
    +inner-shadow

    a
      color: #cccbc6
      &:hover
        color: #999
  h3.sub-title
    color: #666
    font:
      weight: normal
      size: 1em
    display: block
    letter-spacing: .9px
    margin:
      left: 55px
      top: -5px
    +inner-shadow(#fff,#ccc)

