nav
  border-bottom: 3px dotted $accent
  +pie-clearfix

  ul
    font:
      family: 'Alice', serif
      size: 16px
    float: right
    margin: 0
    padding: 0

    li
      float: left
      padding:
        right: 30px
      a
        font:
          weight: bold
          size: 1.3em
        letter-spacing: .1em
        +inner-shadow(#fefefe, #ccc)
        +fadein-hover
        color: $main-color

        &:hover
          text-decoration: none
