nav
  border-bottom: 3px dotted #ddd
  +pie-clearfix

  ul
    font:
      family: 'Abril Fatface', cursive
      size: 13px
    float: right
    margin: 0
    padding: 0

    li
      float: left
      padding:
        right: 30px
      a
        font:
          weight: bold
          size: 1.3em
        letter-spacing: .1em
        color: $main-color
        +inner-shadow
