.suppliers
  margin:
    top: 20px

  ul
    +pie-clearfix

  .supplier
    +pie-clearfix
    margin:
      bottom: 10px
    width: 48%
    float: left

    a
      display: block
      background: $main-color
      +transition(background 250ms ease-in-out)
      &:hover
        background: $alt-color

    .logo
      margin:
        right: 10px
      padding: 5px
      float: left
      border: 1px dotted #999
      +border-radius(5px)
      +avatar-dimensions-medium

      img
        +avatar-dimensions-medium

    .details
      float: left

      .name
        color: $main-color
